.my-icons {
    font-size: 60px;
    margin: 5px;
    padding: 5px;
}

.languages-parent {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
}

.img-fluid {
    max-width: 75%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    text-align: center;
}

.business-card {
    max-width: 50%;
    height: auto;
}

.profile-img {
    max-width: 100%;
    height: auto;
}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 820px) {
    .my-icons {
        font-size: 40px;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .business-card {
        max-width: 100%;
        height: auto;
    }
}