.my-icons {
    font-size: 60px;
    margin: 5px;
    padding: 5px;
}

.languages-parent {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
}

.img-fluid {
    max-width: 75%;
    height: 400px;
}

/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 820px) {
    .my-icons {
        font-size: 40px;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }
}