// nav styling 
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
}

.nav {
    width: 100%;
    height: auto;
    background-color: $black-color;
    display: flex;
}

.nav li {
    display: inline-block;
    padding: 28px 30px 30px;
    margin-right: 50px;
}

.nav a {
    color: $white-color;
    font-weight: bold;
}

.nav a:hover {
    color: $primary-color;
}

.off-screen-menu {
    background-color: $black-color;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 2;
    opacity: 0.9;
}

.off-screen-menu li {
    list-style: none;
}

.off-screen-menu a {
    text-decoration: none;
    color: $white-color;
    font-weight: bold;
}

.off-screen-menu a:hover {
    color: $primary-color;
}

.off-screen-menu.active {
    right: 0;
}

.hamburger {
    display: none;
    visibility: hidden;
}

.hamburger:hover, .hamburger.is-active:hover {
    opacity: 0.5;
}
// end of nav styling 

.project-title-unique {
    margin: 0 0 9.5rem;
}

.logo-img {
    width: 180px;
    height: auto;
    margin-left: 50px;
}

.my-icons {
    font-size: 60px;
    margin: 5px;
    padding: 5px;
}

.languages-parent {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
}

.img-fluid {
    max-width: 75%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    text-align: center;
}

.business-card {
    max-width: 50%;
    height: auto;
}

.profile-img {
    max-width: 100%;
    height: auto;
}

// LAPTOP 
@media only screen and (max-width: 1092px) {
    .hamburger {
        display: block;
        visibility: visible;
    }

    .nav ul a {
        display: none;
        visibility: hidden;
    }

    .nav li {
        margin-right: 27px;
        padding: 5px;
        margin-top: 15px;
        display: inline-block;
    }

    .logo-img {
        margin-left: 10px;
    }
}


// TABLETS 
@media only screen and (max-width: 820px) {
    .my-icons {
        font-size: 40px;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .project-title-unique {
        margin: 0 0 4.5rem;
    }

    #contact .fs-form input{
        width: 80%;
    }

    #contact .fs-form textarea{
        width: 80%;
    }
}

// PHONES 
@media only screen and (max-width: 500px) {
    .nav li {
        margin-top: 10px;
        margin-right: 5px;
        padding: 0px;
        display: inline-block;
    }

    .logo-img {
        margin-left: -10px;
    }

    .cta-btn--resume {
        font-size: 2rem;
        margin-top: 30px;
    }

    #contact .contact-wrapper__text, #contact .contact-wrapper a {
        font-size: 1.5rem;
    }
}